//Menu variables
$menu-bg-color: #0c365a;

//Logo Description variables
$logo-description-font-color: #ffffff;
$logo-description-font-opacity: 30%;
$logo-description-font-family: "Open Sans";
$logo-description-font-size: 15px;

//Menu list variables
$menu-name-font-color: #ffffff;
$menu-name-font-color-hover: #01d167;
$menu-name-font-family: "Open Sans";
$menu-name-font-size: 16px;

.menu {
  width: 340px;
  height: 770px;
  background-color: $menu-bg-color;

  .logo-container {
    padding-top: 48px;
    padding-left: 48px;
    padding-right: 55px;
  }
  .logo {
    padding-right: 167px;
    width: 125px;
    height: 35px;
  }
  .logo-description {
    padding-top: 19px;
    padding-bottom: 81px;
    padding-left: 0;
    width: 237px;
    height: 40px;
    text-align: left;
    color: $logo-description-font-color;
    opacity: $logo-description-font-opacity;
    font-family: $logo-description-font-family;
    font-size: $logo-description-font-size;
    font-weight: 400;
  }

  .menu-list {
    list-style: none;
    margin-left: 48px;
    width: fit-content;
    padding: 0;

    li {
      text-align: left;
      margin-bottom: 62px;
      cursor: pointer;
      .menu-name {
        margin-left: 16px;
        vertical-align: top;
        height: 24px;
        font-family: $menu-name-font-family;
        color: $menu-name-font-color;
        font-size: $menu-name-font-size;
        font-weight: 400;
        text-decoration: none;

        &:hover {
          color: $menu-name-font-color-hover;
        }
      }

      a {
        text-decoration: none;
      }
    }
    .menu-icon {
      width: 24px;
      height: 24px;
    }
  }
}
