.app {
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  h1 {
    color: #007bff; /* Blue color, you can change it to your preference */
  }
  .content {
    width: 1026px;
    height: 1053px;
    margin-left: 60px;
    margin-top: 59px;
  }
}
