.App {
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  h1 {
    color: #007bff; /* Blue color, you can change it to your preference */
  }

  .Menu {
    flex: 1;
  }
  .Content {
    flex: 2;
    width: fit-content;
  }
}
