//cards__cardsheader__balance variables
$cardbalance-fontfamily: "Open Sans";
$cardbalance-icon-bgcolor: #01d167;
$cardbalance-icon-fontcolor: #ffffff;
$cardbalance-icon-fontfamily: "Open Sans";
$cardbalance-value-fontfamily: "Open Sans";
$cardbalance-value-fontcolor: #222222;

//cards__cardsheader__addcardbutton variables
$addcardbutton-bgcolor: #325baf;
$addcardbutton-fontcolor: #ffffff;
$addcardbutton-fonthovercolor: #01d167;
$addcardbutton-fontfamily: "Open Sans";

//cards__dashboard__tabs variables
$cardsdashboard-tabitem-fontfamily: "Avenir Next";
$cardsdashboard-tabitem-fontcolor: #222222;
$cardsdashboard-tabitem-bordercolor: #23cefd;

//cards__dashboard__content variables
$cardsdashboard-content-boxbordercolor: #fcfcfc;
$cardsdashboard-content-boxshadowcolor: #00000014;

//cards__dashboard__content__mydebitcards__leftcontainer__cardsview variables
$cardsview-fontfamily: "Open Sans";
$cardsview-showcard-fontcolor: #01d167;
$cardsview-cardbgcolor: #01d167;
$cardsview-cardfontcolor: #ffffff;

//cards__dashboard__content__mydebitcards__leftcontainer__cardsviewmenu variables
$cardsviewmenu-fontfamily: "Open Sans";
$cardsviewmenu-fontcolor: #0c365a;
$cardsviewmenu-bgcolor: #edf3ff;

//cards__dashboard__content__mydebitcards__rightcontainer__carddetails variables
$carddetails-bgcolor: #f5f9ff;
$carddetails-bordercolor: #f5f5f5;
$carddetails-shadowcolor: #0000000a;
$carddetails-fontfamily: "Open Sans";
$carddetails-fontcolor: #0c365a;

//cards__dashboard__content__mydebitcards__rightcontainer__recenttransactionslist__transaction variables
$transactiondetails-name-fontcolor: #222222;
$transactiondetails-date-fontcolor: #aaaaaa;
$transactiondetails-desc-fontcolor: #325baf;
$transactiondetails-credit-fontcolor: #01d167;
$transactiondetails-viewall-fontcolor: #01d167;
$transactiondetails-viewall-bgcolor: #edfff5;
$transactiondetails-viewall-bordercolor: #ddffec;
$transactiondetails-debit-fontcolor: #222222;
$transactiondetailsfontfamily: "Open Sans";

.cards {
  display: flex;
  flex-direction: column;

  .cards__cardsheader {
    display: flex;
    flex-direction: row;

    .cards__cardsheader__balance {
      display: flex;
      flex-direction: column;
      font-family: $cardbalance-fontfamily;
      font-weight: 400;
      text-align: left;
      font-size: 14px;

      .cards__cardsheader__balance__data {
        display: flex;
        flex-direction: row;
        width: 119px;
        height: 36px;

        .cards__cardsheader__balance__data__dollaricon {
          background-color: $cardbalance-icon-bgcolor;
          font-family: $cardbalance-icon-fontfamily;
          font-size: 13px;
          font-weight: bold;
          color: $cardbalance-icon-fontcolor;
          width: 40px;
          height: 24px;
          margin-top: 16px;
          border-radius: 4px;
          text-align: center;
          vertical-align: middle;
        }
        .cards__cardsheader__balance__data__value {
          width: 67px;
          height: 36px;
          color: $cardbalance-value-fontcolor;
          font-weight: 900;
          font-size: 26px;
          margin-left: 12px;
          margin-top: 9px;
          //vertical-align: ;
        }
      }
    }

    .cards__cardsheader__addcardbutton {
      display: flex;
      flex-direction: row;
      width: 109px;
      height: 35px;
      margin-top: 26px;
      margin-left: 678px;
      border-radius: 4px;
      background-color: $addcardbutton-bgcolor;
      color: $addcardbutton-fontcolor;
      font-family: $addcardbutton-fontfamily;
      font-size: 13px;
      font-weight: 900;
      cursor: pointer;

      .cards__cardsheader__addcardbutton__addicon {
        margin: 8px 8px 8px 10px;
      }
      .cards__cardsheader__addcardbutton__buttontext {
        margin-top: 7px;

        &:hover {
          color: $addcardbutton-fonthovercolor;
        }
      }
    }
  }

  .cards__dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 34px;

    .cards__dashboard__tabs {
      display: flex;
      flex-direction: row;
      width: 246px;
      height: 23.5px;

      .cards__dashboard__tabs__tabitem--selected {
        margin-right: 32px;
        color: $cardsdashboard-tabitem-fontcolor;
        font-family: $cardsdashboard-tabitem-fontfamily;
        font-size: 14px;
        font-weight: 600;
        text-align: left;
        white-space: nowrap;
        border-bottom: 2px solid;
        border-color: $cardsdashboard-tabitem-bordercolor;
        cursor: pointer;
      }
      .cards__dashboard__tabs__tabitem--notselected {
        border: none;
        margin-right: 32px;
        color: $cardsdashboard-tabitem-fontcolor;
        font-family: $cardsdashboard-tabitem-fontfamily;
        opacity: 30%;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        white-space: nowrap;
        cursor: pointer;
      }
    }
    .cards__dashboard__content {
      width: 906px;
      height: 767px;
      margin-top: 16px;
      border: 1px solid;
      border-color: $cardsdashboard-content-boxbordercolor;
      border-radius: 8px;
      box-shadow: 0 2px 12px $cardsdashboard-content-boxshadowcolor;
      .cards__dashboard__content__mydebitcards {
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        margin-right: 40px;
        // border-right: 1px black dotted;

        .cards__dashboard__content__mydebitcards__leftcontainer {
          display: flex;
          margin-top: 31.5px;
          flex-direction: column;
          width: 414px;
          //   border-right: 1px black dotted;
          //   border-left: 1px black dotted;

          .cards__dashboard__content__mydebitcards__leftcontainer__cardsview {
            display: flex;
            flex-direction: column;
            font-family: $cardsview-fontfamily;
            font-weight: 800;
            .cards__dashboard__content__mydebitcards__leftcontainer__cardsview__showtextcontainer {
              display: flex;
              flex-direction: row;
              margin-left: 276px;
              cursor: pointer;

              .cards__dashboard__content__mydebitcards__leftcontainer__cardsview__showtextcontainer__logo {
                width: 16px;
                height: 16px;
              }
              .cards__dashboard__content__mydebitcards__leftcontainer__cardsview__showtextcontainer__text {
                font-size: 12px;
                color: $cardsview-showcard-fontcolor;
                margin-left: 6px;
              }
            }
            .cards__dashboard__content__mydebitcards__leftcontainer__cardsview__cardscarouselcontainer {
              margin-top: 12px;
              width: 414px;
              height: 280px;

              .cards__dashboard__content__mydebitcards__leftcontainer__cardsview__cardscarouselcontainer__carousel {
                width: 100%;
                height: 255.85px;
                border-radius: 16px;
                background-color: $cardsview-cardbgcolor;
                display: flex;
                flex-direction: column;

                .cards__dashboard__content__mydebitcards__leftcontainer__cardsview__cardscarouselcontainer__carousel__aspirelogo {
                  width: 83.52px;
                  height: 23.7px;
                  margin-left: 303.39px;
                  margin-right: 27.09px;
                  margin-top: 27.09px;
                }
                .cards__dashboard__content__mydebitcards__leftcontainer__cardsview__cardscarouselcontainer__carousel__name {
                  margin-left: 27.09px;
                  margin-top: 27.29px;
                  text-align: left;
                  font-size: 24px;
                  color: $cardsview-cardfontcolor;
                  font-weight: 800;
                  letter-spacing: 0.58px;
                }
                .cards__dashboard__content__mydebitcards__leftcontainer__cardsview__cardscarouselcontainer__carousel__cardnumber {
                  margin-top: 27.22px;
                  margin-left: 27.09px;
                  text-align: left;
                  color: $cardsview-cardfontcolor;
                  font-size: 16px;
                  font-weight: 800;
                  display: flex;
                  flex-direction: row;
                  width: 304.74px;

                  .cards__dashboard__content__mydebitcards__leftcontainer__cardsview__cardscarouselcontainer__carousel__cardnumber__fragment {
                    width: 56.43px;
                    margin-right: 27.09px;
                    letter-spacing: 4px;
                  }
                }
                .cards__dashboard__content__mydebitcards__leftcontainer__cardsview__cardscarouselcontainer__carousel__moredetails {
                  display: flex;
                  flex-direction: row;
                  font-size: 13px;
                  font-weight: 800;
                  margin-top: 17.02px;
                  color: $cardsview-cardfontcolor;
                  .cards__dashboard__content__mydebitcards__leftcontainer__cardsview__cardscarouselcontainer__carousel__moredetails__thru {
                    margin-left: 27.09px;
                    letter-spacing: 2px;
                  }
                  .cards__dashboard__content__mydebitcards__leftcontainer__cardsview__cardscarouselcontainer__carousel__moredetails__cvv {
                    margin-left: 36.12px;
                    letter-spacing: 4px;
                  }
                }
                .cards__dashboard__content__mydebitcards__leftcontainer__cardsview__cardscarouselcontainer__carousel__visalogo {
                  margin-top: 4.65px;
                  margin-left: 320.32px;
                  width: 66.59px;
                  height: 22.57px;
                }
              }
              .cards__dashboard__content__mydebitcards__leftcontainer__cardsview__cardscarouselcontainer__carousel--freeze {
                opacity: 50%;
              }

              .cards__dashboard__content__mydebitcards__leftcontainer__cardsview__cardscarouselcontainer__indicators {
                width: 48px;
                height: 8px;
                margin-top: 16.15px;
              }
            }
          }

          .cards__dashboard__content__mydebitcards__leftcontainer__cardsviewmenu {
            width: 360px;
            height: 75px;
            margin-top: 32px;
            padding: 20px 27px 21px 27px;
            border-radius: 16px;
            background-color: $cardsviewmenu-bgcolor;
            color: $cardsviewmenu-fontcolor;
            font-family: $cardsviewmenu-fontfamily;
            display: flex;
            flex-direction: row;

            .cards__dashboard__content__mydebitcards__leftcontainer__cardsviewmenu_menuitem {
              display: flex;
              flex-direction: column;
              height: 75px;
              margin-left: 40px;
              cursor: pointer;
              .cards__dashboard__content__mydebitcards__leftcontainer__cardsviewmenu_menuitem__icon {
                width: 32px;
                height: 32px;
              }
              .cards__dashboard__content__mydebitcards__leftcontainer__cardsviewmenu_menuitem__menuname {
                height: 36px;
                margin-top: 7px;
                font-size: 13px;
                text-align: center;
                transition: color 0.3s ease;
                &:hover {
                  color: black;
                }
              }
            }
          }
        }
        .cards__dashboard__content__mydebitcards__rightcontainer {
          display: flex;
          flex-direction: column;
          width: 366px;
          margin-left: 46px;
          margin-top: 60.5px;
          .cards__dashboard__content__mydebitcards__rightcontainer__carddetails {
            width: 318px;
            height: 24px;
            border: 1px $carddetails-bordercolor;
            border-radius: 8px;
            background-color: $carddetails-bgcolor;
            box-shadow: 0 0 8px $carddetails-shadowcolor;
            padding: 24px;
            display: flex;
            flex-direction: row;
            .cards__dashboard__content__mydebitcards__rightcontainer__carddetails__icon {
              width: 24px;
              height: 24px;
            }
            .cards__dashboard__content__mydebitcards__rightcontainer__carddetails__text {
              margin-left: 12px;
              font-family: $carddetails-fontfamily;
              color: $carddetails-fontcolor;
              font-size: 14px;
              font-weight: 400;
              text-align: left;
              white-space: nowrap;
            }
            .cards__dashboard__content__mydebitcards__rightcontainer__carddetails__arrow {
              margin-left: 185px;
              width: 20px;
              height: 20px;
              cursor: pointer;
            }
          }
          .cards__dashboard__content__mydebitcards__rightcontainer__recenttransactions {
            width: 318px;
            height: 24px;
            margin-top: 24px;
            border: 1px $carddetails-bordercolor;
            border-radius: 8px;
            background-color: $carddetails-bgcolor;
            box-shadow: 0 0 8px $carddetails-shadowcolor;
            padding: 24px;
            display: flex;
            flex-direction: row;
            .cards__dashboard__content__mydebitcards__rightcontainer__recenttransactions__icon {
              width: 24px;
              height: 24px;
            }
            .cards__dashboard__content__mydebitcards__rightcontainer__recenttransactions__text {
              margin-left: 12px;
              font-family: $carddetails-fontfamily;
              color: $carddetails-fontcolor;
              font-size: 14px;
              font-weight: 400;
              text-align: left;
              white-space: nowrap;
            }
            .cards__dashboard__content__mydebitcards__rightcontainer__recenttransactions__arrow {
              margin-left: 134px;
              width: 20px;
              height: 20px;
              cursor: pointer;
            }
          }
          .cards__dashboard__content__mydebitcards__rightcontainer__recenttransactionslist {
            width: 318px;
            padding: 24px;
            margin-top: 0;
            overflow: hidden;
            max-height: 498px;
            border-radius: 8px;
            border: 1px solid #f0f0f0;
            border-bottom: none;
            transition: max-height 0.3s ease-in-out;
            .cards__dashboard__content__mydebitcards__rightcontainer__recenttransactionslist__transaction {
              width: 100%;
              height: 76px;
              padding-bottom: 16px;
              margin-bottom: 16px;
              border-bottom: 1px solid $carddetails-bordercolor;
              display: flex;
              flex-direction: row;
              font-family: $transactiondetailsfontfamily;
              & + & {
                border-top: 1px solid $carddetails-bordercolor; // Add this line
              }

              .cards__dashboard__content__mydebitcards__rightcontainer__recenttransactionslist__transaction__icon {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background-color: #f251951a;
                .cards__dashboard__content__mydebitcards__rightcontainer__recenttransactionslist__transaction__icon__innericon {
                  width: 16px;
                  height: 15.2px;
                  margin: 16.4px 16px 16.4px 16px;
                }
              }
              .cards__dashboard__content__mydebitcards__rightcontainer__recenttransactionslist__transaction__details {
                display: flex;
                flex-direction: column;
                margin-left: 12px;
                .cards__dashboard__content__mydebitcards__rightcontainer__recenttransactionslist__transaction__details__name {
                  color: $transactiondetails-name-fontcolor;
                  font-weight: 600;
                  text-align: left;
                  font-size: 14px;
                }
                .cards__dashboard__content__mydebitcards__rightcontainer__recenttransactionslist__transaction__details__date {
                  margin-top: 4px;
                  color: $transactiondetails-date-fontcolor;
                  font-size: 13px;
                  text-align: left;
                }
                .cards__dashboard__content__mydebitcards__rightcontainer__recenttransactionslist__transaction__details__description {
                  margin-top: 14px;
                  //   margin-bottom: 16px;
                  color: $transactiondetails-desc-fontcolor;
                  font-size: 12px;
                  text-align: left;
                  font-weight: 600;
                  display: flex;
                  width: 156px;
                  flex-direction: row;
                  white-space: nowrap;
                  .cards__dashboard__content__mydebitcards__rightcontainer__recenttransactionslist__transaction__details__description__icon {
                    width: 24px;
                    height: 20px;
                    border-radius: 10px;
                    background-color: $transactiondetails-desc-fontcolor;
                    .cards__dashboard__content__mydebitcards__rightcontainer__recenttransactionslist__transaction__details__description__icon__innericon {
                      width: 10px;
                      height: 7.86px;
                      margin-top: 1px;
                      margin-right: 7.12px;
                      margin-bottom: 6.14px;
                      margin-left: 6.88px;
                    }
                  }
                  .cards__dashboard__content__mydebitcards__rightcontainer__recenttransactionslist__transaction__details__description__text {
                    margin-top: 2px;
                    margin-left: 8px;
                  }
                }
              }

              .cards__dashboard__content__mydebitcards__rightcontainer__recenttransactionslist__transaction__value {
                display: flex;
                flex-direction: row;
                width: 72px;
                height: 19px;
                margin-left: 50px;

                .cards__dashboard__content__mydebitcards__rightcontainer__recenttransactionslist__transaction__value__text {
                  width: 55px;
                  height: 19px;
                  font-size: 14px;
                  font-weight: 800;
                  color: $transactiondetails-credit-fontcolor;
                }
                .cards__dashboard__content__mydebitcards__rightcontainer__recenttransactionslist__transaction__value__rightarrow {
                  width: 6.5px;
                  height: 19px;
                  margin-left: 10.5px;
                  cursor: pointer;
                }
              }
            }
          }
          .cards__dashboard__content__mydebitcards__rightcontainer__viewalltransactions {
            width: 366px;
            height: 50px;
            // padding: 16px 103px;
            background-color: $transactiondetails-viewall-bgcolor;
            color: $transactiondetails-viewall-fontcolor;
            margin-top: -40px;
            white-space: nowrap;
            font-weight: 600;
            border: 1px solid #ddffec;
            border-radius: 8px;
            cursor: pointer;
          }
        }
      }
      .cards__dashboard__content__allcompanycards {
        color: #007bff;
      }
    }
  }
}
